.container {
  height: 46px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 var(--space-3);
  border-radius: var(--border-radius-rounded);
  outline: none;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  font-size: 18px;

  &.primary {
    border: 1px solid var(--green);
    background-color: var(--green);
    color: var(--black);

    &:disabled {
      background-color: rgb(27, 22, 34);
      cursor: not-allowed;
      color: var(--green);
    }

    &:hover:not(:disabled) {
      background-color: var(--white);
      color: var(--black);
      border: 1px solid var(--white);
    }
  }

  &.secondary {
    border: 1px solid var(--white);
    background-color: var(--white);
    color: var(--dark-purple);

    &:disabled {
      background-color: rgb(27, 22, 34);
      cursor: not-allowed;
      color: var(--white);
    }

    &:hover:not(:disabled) {
      background-color: var(--dark-purple);
      color: var(--white);
      border: 1px solid var(--dark-purple);
    }
  }

  &.tertiary {
    border: 1px solid var(--white);
    background-color: transparent;
    color: var(--white);

    &:disabled {
      cursor: not-allowed;
      opacity: 0.5;
      color: var(--white);
    }

    &:hover:not(:disabled) {
      background-color: var(--white);
      color: var(--dark-purple);
      border: 1px solid var(--white);
    }
  }
}
