.container {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(10px);
  z-index: 0;
}

.gas-estimate {
  padding-top: var(--space-1);
  font-size: 12px;
  color: var(--dark-purple);
}
