.container {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.gas-estimate {
  padding-top: var(--space-1);
  font-size: 12px;
  color: var(--dark-gray);
}
