.app {
  font-family: 'Grotesk';
  font-weight: 600;
  font-size: 2rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-image: url('./images/background.jpg');
}
